/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
:root{
    --red:#ff8882;
    --black:#0E2431;
    --white:#fff;
}
body{
  font-family: 'Ubuntu', sans-serif;
  margin-top: 20px;
}

/* navbar */
nav{
  position:fixed;
  background-color: var(--white);
  width:100%;
  padding:20px 0;
  margin-top: -20px;
  z-index: 999;
  transition: all 0.3s ease;
}
nav.sticky{
  background:var(--red);
  padding:13px 0;
}
nav .navbar{
  width:90%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:auto;
}
nav .navbar .logo a{
  font-weight: 500;
  font-size: 35px;
  color:var(--red);
}

nav.sticky .navbar .logo a{
  color:var(--white);
}

nav .navbar .menu{
  display:flex;
  position:relative;
}
nav .navbar .menu li{
  list-style: none;
  margin:0 8px;
}
nav .navbar .menu a{
  font-size: 18px;
  font-weight: 500;
  color:var(--black);
  padding:6px 0;
  transition: all 0.4s ease;
}
.navbar .menu a:hover{
  color:var(--red);
}
nav.sticky .menu a{
  color:var(--white);
}
nav.sticky .menu a:hover{
  color:var(--black);
}
.navbar .media-icones a{
  color:var(--red);
  font-size: 18px;
  margin:0 6px;
}
nav.sticky .media-icones a{
  color:var(--white);
}

nav .menu-btn,
.navbar .menu .cancel-btn{
  position:absolute;
  color:var(--white);
  right:30px;
  top:20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color:var(--red);
}
nav.sticky .menu-btn{
  color:var(--white);
}
.navbar .menu .menu-btn{
  color:var(--white);
}

.home{
  height:100vh;
  width:100%;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.home .home-contenu{
  width:90%;
  height:100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-1{
  font-size:25px;
  color:var(--black);
}
.home .text-2{
  color:var(--black);
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-3{
  font-size: 40px;
  margin:5px 0;
  color:var(--red);
}
.home .text-4{
  font-size: 23px;
  margin:5px 0;
  color:var(--black);
}

/* Présentation */
section{
  padding-top:40px;
}
section .contenu{
  width:80%;
  margin:40px auto;
  font-family: 'Poppins', sans-serif;
}
section .title{
  display:flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color:var(--black);
  font-size: 30px;
  font-weight: 600;
  position:relative;
  padding-bottom:8px;
}
section .title span::before,
section .title span::after{
  content:'';
  position:absolute;
  height:3px;
  width:100%;
  background:var(--red);
  left:0;
  bottom:0;
}
section .title span::after{
  bottom:-7px;
  width:70%;
  left:50%;
  transform:translateX(-50%);
}
.about .about-details{
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.about .about-details .left{
  width:45%;
}
.about .left img{
  height:400px;
  width:400px;
  object-fit: cover;
  border-radius: 12px;
}
.about .about-details .right{
  width:55%;
}
section .topic{
  color:var(--black);
  font-size:25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color:var(--black);
}
section .button{
  margin:16px 0;
}
section .button button{
  outline:none;
  padding:8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: var(--red);
  color:var(--white);
  border:2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color:var(--red);
  background-color: var(--white);
  color:var(--red);
}

/* Compétences */
.skills{
  background:#f0f8ff;
}
.skills .content{
  padding:40px 0;
}
.skills .skills-details{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.skills-details .text{
  width:50%;
}
.skills-details p{
  color:var(--black);
  text-align: justify;
}
.skills .skills-details .experience{
  display:flex;
  align-items: center;
  margin:0 10px;
}
.skills-details .experience .num{
  color:var(--black);
  font-size: 80px;
}
.skills-details .experience .exp{
  color:var(--black);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  margin:0 6px;
}
.skills-details .boxes{
  width:45%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.skills-details .box{
  width:calc(100% / 2 - 20px);
  margin:20px 0;
}
.skills-details .boxes .topic{
  font-size: 20px;
  color:var(--red);
}
.skills-details .boxes .per{
  font-size: 60px;
  color:var(--red);
}

/* Passions */
.services .boxes{
   display:flex; 
   flex-wrap: wrap;
   justify-content:space-between;
}
.services .boxes .box{
  margin:20px 0;
  width:calc(100% / 3 - 20px);
  text-align: center;
  border-radius: 12px;
  padding:30px 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  cursor:default;
  transition: all 0.4s ease;
}
.services .boxes .box:hover{
  background: var(--red);
  color:var(--white);
}
.services .boxes .box .icon{
  height:50px;
  width:50px;
  background: var(--red);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color:var(--white);
  margin:0 auto 10px auto;
  transition: all 0.4s ease;
}
.boxes .box:hover .icon{
  background:var(--white);
  color:var(--red);
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color:var(--white);
  transition: all 0.4s ease;
}

/* contact */
.contact{
  background: #f0f8ff;
}
.contact .content{
  margin:0 auto;
  padding:30px 0;
}
.contact .text{
  width:80%;
  text-align: center;
  margin:auto;
}

.contact button a{
  text-decoration: none;
  color:var(--black);
}

